<h1>Olá handlebars</h1>
{{#if approved}}
    <p>Parabens, o seu cadastro foi aprovado!</p>
{{else}}
    <p>O seu cadastro necessita de aprovação para acesso total do sistema</p>
{{/if}}
<p>O nome do usuario é {{user.name}} {{user.surname}}, e ele tem {{user.age}} anos</p>
{{#if auth}}
    <p>
        Voce esta autenticado,<a href="/dashboard">clique aqui </a>  para acessar a area de membros!
    </p>
{{/if}}